/*==========================================================
	HTML
  =========================================================*/


*{
	margin: 0;
	padding: 0;
	background: gray;
	text-align: center;
}
img{
	height: 200px;
	width:200px;
}
/*==========================================================
	Title
  =========================================================*/

  /*==========================================================
	info
  =========================================================*/

  /*==========================================================
	Timeless
  =========================================================*/

  /*==========================================================
	OC
  =========================================================*/

  /*==========================================================
	Evil
  =========================================================*/

  /*==========================================================
	Opper
  =========================================================*/

    /*==========================================================
	Video
  =========================================================*/